@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
/*Css reset*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-image: url(/assets/background.svg);
    height: 100vh;
    width: 100%;
	font-family: "Roboto Slab", serif;

}

.container{
    display: flex;
	height: 100%;
}
.container section{
	display: flex;
	width: 50%;
	justify-content: center;
	align-items: center;
}

.profile-image div{
	width: 60%;
	min-height: 60%;
	background-color: white;
	border-radius: 10px;
	text-align: center;
	padding-block: 3rem;
}

.profile-image div img{
	max-width: 80%;
	border-radius: 10px;
}

.profile-info div{
	width: 50%;
	background-color: white;
	border-radius: 10px;
	padding: 3rem;
}

.profile-info div h1{
	font-size: 2rem;
	margin-bottom: 1rem;
}

.profile-info div p{
	text-align: justify;
}

.btn {
	border-radius: 28px;
	color: #ffffff;
	font-size: 1rem;
	background: #ffa1f9;
	padding: 10px 20px ;
	border: .5px ;
	width: 45%;
	margin-top: 2rem;
	margin-left: .5rem;
  }
  
  .btn:hover {
	background: #ff5cec;
	cursor: pointer;
  }
